*{
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}
.TextRow{
    font-size: 28px;
    margin: 6px 0;
    color: #8c2f82;
}
.UpperHeading{
    display: flex;
    justify-content: center;
}
.Heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}
.MainText{
    display: flex;
    flex-direction: column;
    font-size: 30px;
}
.MainBoard{
    display: flex;
    height: 100%;
    text-align: center;
    width: 1200px;
    margin: 2rem auto 0 auto;
}
.TextUnderPic{
    border-radius: 5%;
    width: 450px;
    height: 150px;
    margin: 20px 0 20px 0;
    font-size: 20px;
}
.UnderPic{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin-right: 10px;
}
img{
    width: 450px;
    margin-bottom: 0;
    border-radius: 5%;
    border-width: 3px;
    border-style: solid;
    border-color: #64225d;
}
body, html{
    background-color: #fa9bee;
    height: 100%;
    overflow: hidden;
}
h1{
    color: #64225d;
}
a{
    text-decoration: none;
    color: #64225d;
    font-size: 18px;
    text-align: center;
    padding: 12px 20px;
}
.MenuList{
    display: flex;
    justify-content: center;
    background-color: #da68c7;
    margin: 15px;
    position: center;
    align-items: center;
    border-radius: 6px;
}
.Frame > list{
    display: inline-block;
    margin-right: 20px;
    position: relative;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.MenuList ul {
    background: #da68c7;
}
.nav-item{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 12px 20px;
}

.nav-item:hover{
    background-color: #da68c7;
}